@tailwind base;
@tailwind components;
@tailwind utilities;



[x-cloak] {
    display: none;
}

.container-1{
    max-width: 1440px;
    @apply mx-auto;
    @apply px-8;
}

.vertical-line {
    border-left: 1px solid black;
    height: 20px;
}
#slider {
    white-space: nowrap;
    overflow: hidden;
}

#slider a {
    display: inline-block;
    animation: slide 5s linear infinite;
}

#slider a:hover {
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
