@tailwind base;
@tailwind components;
@tailwind utilities;



[x-cloak] {
    display: none;
}

.container-1{
    max-width: 1440px;
    @apply mx-auto;
    @apply px-8;
}

.vertical-line {
    border-left: 1px solid black;
    height: 20px;
}
.vertical-line-gray {
    border-left: 1px solid gray;
    height: 170px;
}
#slider {
    white-space: nowrap;
    overflow: hidden;
}

#slider a {
    display: inline-block;
    animation: slide 5s linear infinite;
}

#slider a:hover {
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
#package{
    transition: box-shadow 0.2s ease-in-out;
}
#package:hover{
    box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}
.horizontal-line {
    border: 1px solid red;
    width: 40%;
}
.horizontal-line-gray {
    border: 1px solid lightslategray;
    width: 80%;
}
.horizontal-line-gray-full {
    border: 1px solid lightslategray;
    width: 100%;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}
